* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

.list-show {
  display: block;
  height: 0;
  overflow: hidden;
}

/** Boton Dark Mode */
/* The switch - the box around the slider */
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.8em;
  left: 0.2em;
  bottom: 0.18em;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked+.slider {
  box-shadow: 0 0 20px rgba(9, 241, 67, 0.8);
  border: 2px solid #00ff40;
}

.switch input:checked+.slider:before {
  transform: translateX(2em);
}

/** btn open/close */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/** Media Queries */
@media (width < 990px) {

  .btn-busqueda {
    z-index: 100;
    display: inline-block;
    position: absolute;
    padding: 0.3rem 0.6rem;
    top: 6px;
    left: 5px;
  }
}

@media (width < 430px) {
  .hamburger svg {
    height: 2.5em;
  }

  .btn-busqueda {
    top: 15px;
  }
}