* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.Cards-main{
    width: 100%;
    margin-left:10px ;
}

.Cards__container{

    padding: 48px;
    background-color: rgb(253, 253, 253);
    margin-left: 20%;
    margin-right: 5%;
}

.title__cards{
    margin: 0 0 16px;
    padding: 0 0 0 24px;
    font-size: 32px;
    border-left: 5px solid #54b689;

}

.intro{
    margin: 0 0 48px;
    line-height: 30px;
}

.content__button{
    height: 72px;
    padding: 16px 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;

}

.button{
    height: 40px;
    width: 200px;
    background-color: #54b689;
    text-align: center;
    
    
}

.button__enlace{
    color: #ffffff;

}

.icon_cards{
    margin-right: 5px ;
    vertical-align: middle;
}